.collection-preview{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .title{
        font-size: 25px;
        margin-bottom: 15px;
    }
    .preview{
        display: flex;
        justify-content: space-between;
    }
}
